.container {
    margin: 5rem 1rem;
}

.card__container {
    color: var(--very-light-gray);
    display: flex;
    flex-direction: column;
    padding: 3rem;
    row-gap: 2.5rem;
}

.card__img {
    width: 4.5rem;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.7rem;
    text-transform: uppercase;
}

.card__text {
    line-height: 1.8rem;
}


@media screen and (min-width: 768px) {

    .container {
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 100vh;
        justify-content: center;
        margin: 0;
    }

    .card__container {
        flex-direction: column;
        max-width: 300px;
    }

    .card__text {
        height: 172.781px;
    }
}